* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  justify-content: center;
}


  /* navigation */

.navbar {
  background-color: rgb(249, 235, 20);
  }

.navbar-brand {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: black;
}

.nav-link{
  font-family: quasimoda, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: black;
}


/* home heading */

.home-heading {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-size: 75px;
  padding: 50px 0px;
  font-style: normal;
  text-align: center;
}


/* basic text */

p {
  font-family: quasimoda, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  }

/* start button */

.start-button {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* footer */

footer {
  background-color: black;
  color: white;
  vertical-align: baseline;
}

.copyright {
  padding: 10px 0px;
  text-align: center;
  font-size: 16px;
}
