* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

.header-container {
  justify-content: center;
  margin: auto;
  max-width: 1000px;
}


  /* navigation */

.navbar {
  background-color: rgb(249, 235, 20);
  }

.navbar-brand {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: black;
}

.navbar-brand:hover{
  color: rgb(138, 138, 138);
}

.nav-link{
  font-family: quasimoda, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: black;
}

.nav-link:hover{
  color: rgb(138, 138, 138);
}

.nav-link-block{
  text-align: right;
}


/* basic text */

p {
  font-family: quasimoda, sans-serif;
  font-weight: 300;
  font-style: normal;
  }

h1 {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  color: black;
}

ul {

}

li {

}

/* index specific */

.home-heading {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-size: 5em;
  padding: 100px 0px 50px 0px;
  font-style: normal;
  text-align: center;
}


/* start button */
.start-button {
  padding: 50px 50px;
  text-align: center;
}

.btn {
  font-family: verveine, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: rgb(249, 235, 20);
  border-color: white;
  font-size: 40px;
  padding: 15px 12%;
  border-radius: 2.5rem;
  min-width: 200px;
}

.btn:hover {
  color: black;
  background-color: white;
  border-color: rgb(249, 235, 20);
}


/* footer */

footer {
  background-color: black;
  color: white;
  vertical-align: baseline;
}

.copyright {
  padding: 10px 0px;
  text-align: center;
  font-size: 16px;
}
